<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Tennis Stuff</strong> by <a href="https://jgthms.com">@Tennis Stuff media</a>. The source code is licensed
        The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">@Tennis Stuff medi</a>.
      </p>
    </div>
  </footer>
  