a {
    color: #fff;
}
.active-nav-item {
    background: rgba(0,0,0,0.1)
}
img {
    border-radius: .5rem;
}
article :hover{
    color: white;
}
h2 :hover, h3 :hover {
   
}
/* override bulma */
.section {
    padding: 1rem 1.5rem 0.2rem 1.5rem;
}
h3 {
    padding-bottom: 15px;
}

.fa {
    min-height: 250px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.fa img {
    height: 100%;
    width: auto;
    width: 100%;
}
.fa-timestamp{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3%;
    padding: 5px 10px;
}
.fa-author {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3%;
    padding: 5px 10px;
}
.fa-link {
    height: 100%;
    display: block;
    color: #fff;
    width: 100%;
}
.fa-title {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fa-title:hover, .la-m-title:hover, .oa-d-title:hover, .oa-m-title:hover,  .la-d-title:hover{
    text-decoration: underline;
}

/* Latest arts mob */
#la-m-mob {
    /* cuasing displacement */
    /* overflow-x: scroll; */
}
.la-m-article {
    min-width: 200px;
    position: relative;
}
.la-m-link {
    height: 100%;
    display: block;
}
.la-m-timestamp {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3%;
    padding: 5px 10px;
    font-size: 12px;
}
.la-m-title {
    color: #4a4a4a;
}
.la-m-title:hover {
    color: #4a4a4a;
    text-decoration: underline;
}
/* Latest arts desk */

.la-d {
    min-width: 140px;
    position: relative;
}
.la-d-link {
    height: 100%;
    display: block;
}
.la-d-timestamp {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3%;
    padding: 5px 10px;
    font-size: 12px;
}
/* Old Articles Desk */
.oa-d {
    position: relative;
}
.oa-d-link {
    height: 100%;
    display: block;
}
.oa-d-timestamp {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3%;
    padding: 5px 10px;
    font-size: 12px;
}

/* Old Articles Mob */
.oa-m {
    position: relative;
}
.oa-m-link {
    height: 100%;
    display: block;
}
.oa-m-timestamp {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3%;
    padding: 5px 10px;
    font-size: 12px;
}
.oa-m-img {
    width: 100%;
}
/* VIEW ARTICLE PAGE */
@media only screen and (max-width: 600px) {
    #va-la-section {
        padding: 35px;
    }
  }

.va-img {
    width: 100%;
}
.thumb img {
    width: 40px;
    border-radius: 50%;
}
.icon-cont {
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    background: lightblue;
}