/* nav {
    background: lightgreen;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
ul li {
    padding: 20px;

}

ul li a {
    font-size: 20px;
}
.active-nav {
    color: green;
}*/
#logo {
    width: 20px;
} 